<ion-row>
  <ion-col size="12">
    <ion-button (click)="onClick()" fill="clear" color="medium">
      <ion-icon slot="start" name="person"></ion-icon>
      Follow
    </ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-button (click)="onClick()" fill="clear" color="medium">
      <ion-icon slot="start" name="flag"></ion-icon>
      Report
    </ion-button>
  </ion-col>
</ion-row>

<ion-row style="margin-top: 8px">
  <ion-col size="12">
    <ion-button (click)="onClick()" fill="clear" color="danger">
      <ion-icon slot="start" name="close"></ion-icon>
      Block
    </ion-button>
  </ion-col>
</ion-row>
