<ion-menu side="start" content-id="main-content">
  <ion-content>
    <div class="left-user">
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-avatar>
            <ion-avatar>
              <img src="{{ avatar }}" />
            </ion-avatar>
            <!-- <img src="https://ui-avatars.com/api/?size=128" /> -->
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <h5>{{ name }}</h5>
          <p>@{{ username }}</p>
        </ion-col>
      </ion-row>
    </div>

    <ion-list>
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="bar-stable">
    <ion-button class="logout" fill="clear" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon
      >Logout
    </ion-button>
  </ion-footer>
</ion-menu>

<div slot="fixed">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img (click)="openMenu()" src="{{ avatar }}" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8" class="ion-text-center">
          <img
            class="logo"
            src="https://ik.imagekit.io/yumepj2/tanyanyaid_logo_xm-14.png?updatedAt=1624392428366"
          />
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="help-circle-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
</div>

<ion-router-outlet id="main-content"></ion-router-outlet>
