// ion-content {
//   --background: #121212;
// }
// ion-item {
//   --background: #121212;
//   --color: rgb(229, 27, 247);
// }

// ion-button {
//   --background: rgb(229, 27, 247);
//   --color: #fff;
// }

.logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
  top: 50%;
}
