ion-card {
  --background: var(--background-color);
  box-shadow: none;
  border-radius: unset;
  border-bottom: 1px solid var(--ion-color-step-350);
  margin-inline: 0;

  ion-avatar {
    width: 41px;
    height: 41px;
    object-fit: cover;
  }

  h2,
  small {
    margin: 0;
  }

  ion-icon {
    font-size: 24px;
  }
}
